<section class="books-section" id="books">
  <div class="container">
    <h2 class="visually-hidden">Trending books</h2>
    <div class="wrap">
      <div class="section-header">
        <h3 class="section-subtitle">Books</h3>
        <div class="books-count">
          Showing <span id="showing-count">0</span> of
          <span id="total-count">0</span>
        </div>
      </div>
      <div class="filters-container">
        <ul class="filters-list" id="filters-list"></ul>
      </div>
    </div>
    <div class="book-cards-wrapper">
      <ul class="books-list" id="books-list"></ul>
      <div class="show-more-container">
        <button class="btn show-more-btn" id="show-more-btn">Show More</button>
      </div>
    </div>
  </div>
</section>
