<section class="events-section  container" id="events">
  
    <p class="events-label">Events</p>
    <h2 class="events-title">Upcoming Events at Booksy</h2>
    <p class="events-text">
      Discover readings, workshops, and bookish gatherings — online and offline.
      Everyone’s welcome.
    </p>

    <div class="events-swiper swiper">
      <ul class="events-list swiper-wrapper">
        <li class="events-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/events/events-desk-1.jpg    1x,
                /img/events/events-desk-1@2x.jpg 2x
              "
              
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/events/events-tab-1.jpg    1x,
                /img/events/events-tab-1@2x.jpg 2x
              "
              
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/events/events-mob-1.jpg    1x,
                /img/events/events-mob-1@2x.jpg 2x
              "
             
            />
            <img
              class="events-img"
              src="/img/events/events-desk-1.jpg"
              loading="lazy"
              width="421"
              height="277"
              alt="Event Image Cozy Book Club — “The Midnight Library”"
            />
          </picture>

          <h3 class="events-subtitle">
            Cozy Book Club — “The Midnight Library”
          </h3>
          <p class="events-place">In-store | June 5, 6:30 PM</p>
          <p class="events-card-text">
            Join us for an evening of tea, thoughtful conversation, and shared
            reflections as we dive into Matt Haig’s bestseller.
          </p>

          <a href="#" class="events-register">
            Register
            <svg width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-right"></use>
            </svg>
          </a>
          
        </li>

        <li class="events-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/events/events-desk-2.jpg    1x,
                /img/events/events-desk-2@2x.jpg 2x
              "
             
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/events/events-tab-2.jpg    1x,
                /img/events/events-tab-2@2x.jpg 2x
              "
              
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/events/events-mob-2.jpg    1x,
                /img/events/events-mob-2@2x.jpg 2x
              "
              
            />
            <img
              class="events-img"
              src="/img/events/events-desk-2.jpg"
              width="421"
              height="277"
              loading="lazy"
              alt="Book Cover Design Workshop"
            />
          </picture>

          <h3 class="events-subtitle">Book Cover Design Workshop</h3>
          <p class="events-place">Online | June 12, 7:00 PM</p>
          <p class="events-card-text">
            A hands-on session for aspiring designers and curious readers. Learn
            what makes a cover stand out — from concept to print.
          </p>

          <a href="#" class="events-register">
            Register
            <svg width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-right"></use>
            </svg>
          </a>
          
        </li>

        <li class="events-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/events/events-desk-3.jpg    1x,
                /img/events/events-desk-3@2x.jpg 2x
              "
              
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/events/events-tab-3.jpg    1x,
                /img/events/events-tab-3@2x.jpg 2x
              "
              
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/events/events-mob-3.jpg    1x,
                /img/events/events-mob-3@2x.jpg 2x
              "
             
            />
            <img
              class="events-img"
              src="/img/events/events-desk-3.jpg"
              width="421"
              height="277"
              loading="lazy"
              alt="Children’s Story Hour"
            />
          </picture>

          <h3 class="events-subtitle">Children’s Story Hour</h3>
          <p class="events-place">In-store | June 15, 11:00 AM</p>
          <p class="events-card-text">
            A magical morning of stories, games, and imagination for our
            youngest book lovers (ages 4–8).
          </p>

          <a href="#" class="events-register">
            Register
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-chevron-right"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="events-controller">
        <li class="swiper-pagination"></li>

        <li class="controls">
          <button 
            class="swiper-button-next events-btn-next"
            aria-label="Next slide"
          >
            <svg class="events-arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-right-arrow"></use>
            </svg>
          </button>
          <button 
            class="swiper-button-prev events-btn-prev"
            aria-label="Previous slide"
          >
            <svg class="events-arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-left-arrow"></use>
            </svg>
          </button>
        </li>
    </ul> 
</section>