<section class="feedbacks-section" id="feedbacks">
  <div class="container-feedback container">
    <h2 class="feedback-title">Customer Feedbacks</h2>
    <p class="feedback-text">See what our readers are saying about us!</p>

    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper feedback-list"></ul>

      <div class="swiper-control-feedbacks">
        <div class="swiper-pagination swiper-pagination-feedbacks"></div>

        <div class="swiper-button-feedbacks">
          <button class="swiper-button-prev button-feedbacks-prev">
            <svg class="feedbacks-icon">
              <use href="./img/icons.svg#icon-left-arrow"></use>
            </svg>
          </button>
          <button class="swiper-button-next button-feedbacks-next">
            <svg class="feedbacks-icon">
              <use href="./img/icons.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
