<header>
  <div class="container header-container">
    <a class="header-logo" href="./index.html">
      <img class="logo-icon" src="/img/company-logo.svg" alt="booksy-logo" />
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#books">Books</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#feedbacks">Feedbacks</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#events">Events</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu-btn" type="button">
      <svg class="mob-menu-icon" width="16" height="12">
        <use href="/img/icons.svg#icon-menu-icon" />
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-logo-container">
        <a class="header-logo" href="./index.html">
          <img
            class="logo-icon"
            src="/img/company-logo.svg"
            alt="booksy-logo"
          />
        </a>
        <button class="mob-menu-close-btn">
          <svg class="mob-close-icon" width="12" height="12">
            <use href="/img/icons.svg#icon-icon-close" />
          </svg>
        </button>
      </div>
        <nav>
          <ul class="mob-nav-list">
            <li>
              <a class="mob-nav-link" href="./index.html">Home</a>
            </li>
            <li>
              <a class="mob-nav-link" href="#books">Books</a>
            </li>
            <li>
              <a class="mob-nav-link" href="#feedbacks">Feedbacks</a>
            </li>
            <li>
              <a class="mob-nav-link" href="#events">Events</a>
            </li>
            <li>
              <a class="mob-nav-link" href="#location">Location</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
