<header>
  <div class="container">
    <div class="header-container">
      <a href="./index.html">
        <svg class="logo-icon" width="84" height="36">
          <use href="/img/company-logo.svg" />
        </svg>
      </a>

      <button class="mob-menu-btn" type="button">
        <svg width="24" height="24">
          <use href="/img/icons.svg#icon-menu-icon" />
        </svg>
      </button>

      <nav class="nav">
        <ul class="nav-list">
          <li><a class="nav-link" href="./index.html">Home</a></li>
          <li><a class="nav-link" href="#books">Books</a></li>
          <li><a class="nav-link" href="#feedbacks">Feedbacks</a></li>
          <li><a class="nav-link" href="#events">Events</a></li>
          <li><a class="nav-link" href="#location">Location</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="mobile-menu">
    <div class="container">
      <div class="header-container">
        <a href="./index.html">
          <svg class="logo-icon" width="84" height="36">
            <use href="/img/company-logo.svg" />
          </svg>
        </a>
        <button class="mob-menu-close-btn">
          <svg width="24" height="24">
            <use href="/img/icons.svg#icon-icon-close" />
          </svg>
        </button>
      </div>

      <nav class="mob-nav-container">
        <ul class="mob-nav-list">
          <li><a class="mob-nav-link" href="./index.html">Home</a></li>
          <li><a class="mob-nav-link" href="#books">Books</a></li>
          <li><a class="mob-nav-link" href="#feedbacks">Feedbacks</a></li>
          <li><a class="mob-nav-link" href="#events">Events</a></li>
          <li><a class="mob-nav-link" href="#location">Location</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
