<section class="hero section container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="./img/bg-slider-1.jpg" /></div>
      <div class="swiper-slide"><img src="./img/bg-slider-2.jpg" /></div>
    </div>
    <div class="hero-slider-button-wrapper">
      <div class="swiper-button-prev">
        <svg class="hero-arrow-icon">
          <use href="./img/icons.svg#icon-right-arrow" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="hero-arrow-icon">
          <use href="./img/icons.svg#icon-left-arrow" />
        </svg>
      </div>
    </div>
    <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
  </div>
</section>
