<section class="hero section">
  <div class="container">
    <div class="hero-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="hero-slide-cover-layers">
            <h3 class="hero-slide1-cover-title">
              Get 10% off your first order
            </h3>
            <a href="#books" class="hero-slide-cover-button">Shop Now!</a>
          </div>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/hero/hero-banner1-desk.webp    1x,
                ./img/hero/hero-banner1-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/hero-banner1-tab.webp    1x,
                ./img/hero/hero-banner1-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero/hero-banner1-mob.webp    1x,
                ./img/hero/hero-banner1-mob@2x.webp 2x
              "
            />
            <img
              class="swiper-slide-image"
              src="./img/hero/hero-banner1-desk.webp"
              decoding="async"
              alt="book and cup"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <div class="hero-slide-cover-layers">
            <h3 class="hero-slide2-cover-title">Save 15% on some books</h3>
            <a href="#books" class="hero-slide-cover-button">Shop Now!</a>
          </div>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/hero/hero-banner2-desk.webp    1x,
                ./img/hero/hero-banner2-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/hero-banner2-tab.webp    1x,
                ./img/hero/hero-banner2-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero/hero-banner2-mob.webp    1x,
                ./img/hero/hero-banner2-mob@2x.webp 2x
              "
            />
            <img
              class="swiper-slide-image"
              src="./img/hero/hero-banner2-desk.webp"
              decoding="async"
              alt="book and glasses"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <div class="hero-slide-cover-layers">
            <h3 class="hero-slide3-cover-title">Summer Sale!</h3>
            <h3 class="hero-slide3-cover-title">Up to -40% discounts</h3>
            <a href="#books" class="hero-slide-cover-button">Shop Now!</a>
          </div>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/hero/hero-banner3-desk.webp    1x,
                ./img/hero/hero-banner3-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/hero-banner3-tab.webp    1x,
                ./img/hero/hero-banner3-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero/hero-banner3-mob.webp    1x,
                ./img/hero/hero-banner3-mob@2x.webp 2x
              "
            />
            <img
              class="swiper-slide-image"
              src="./img/hero/hero-banner3-desk.webp"
              decoding="async"
              alt="books"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <div class="hero-slide-cover-layers">
            <h3 class="hero-slide4-cover-title">
              Last chance to buy our spring bestsellers
            </h3>
            <a href="#books" class="hero-slide-cover-button">Shop Now!</a>
          </div>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/hero/hero-banner4-desk.webp    1x,
                ./img/hero/hero-banner4-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/hero-banner4-tab.webp    1x,
                ./img/hero/hero-banner4-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero/hero-banner4-mob.webp    1x,
                ./img/hero/hero-banner4-mob@2x.webp 2x
              "
            />
            <img
              class="swiper-slide-image"
              src="./img/hero/hero-banner4-desk.webp"
              decoding="async"
              alt="book and vase"
            />
          </picture>
        </li>
      </ul>

      <div class="hero-title-wrapper">
        <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
        <div class="hero-slider-button-wrapper">
          <div class="swiper-button-next">
            <svg class="hero-arrow-icon">
              <use href="./img/icons.svg#icon-right-arrow" />
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg class="hero-arrow-icon">
              <use href="./img/icons.svg#icon-left-arrow" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
