<section class="hero section container">
  <div class="hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="slider-image" src="./img/hero/banner_1.jpg" />
      </div>
      <div class="swiper-slide"><img src="./img/hero/banner_2.jpg" /></div>
      <div class="swiper-slide"><img src="./img/hero/banner_3.jpg" /></div>
      <div class="swiper-slide"><img src="./img/hero/banner_4.jpg" /></div>
    </div>

    <div class="hero-slider-button-wrapper">
      <div class="swiper-button-prev">
        <svg class="hero-arrow-icon">
          <use href="./img/icons.svg#icon-right-arrow" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="hero-arrow-icon">
          <use href="./img/icons.svg#icon-left-arrow" />
        </svg>
      </div>
    </div>
  </div>
  <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
</section>
