<div class="book-modal-layer">
  <div class="book-modal">
    <div class="book-info-container">
      <div class="book-img-container">
        <img src="" alt="" />
      </div>
      <div class="book-desc">
        <h3 class="book-title"></h3>
        <p class="book-author"></p>
        <p class="book-price"></p>
        <form class="book-request">
          <input type="hidden" name="book" value="643282b2e85766588626a0ee" />
          <div class="book-amount-wrapper">
            <button class="btn btn-secondary btn-minus" type="button">-</button>
            <input type="number" name="amount" id="amount" value="1" disabled />
            <button class="btn btn-secondary btn-plus" type="button">+</button>
          </div>
          <div class="book-action-wrapper">
            <button class="btn" type="button">Add to cart</button>
            <button class="btn btn-secondary" type="submit">Buy now</button>
          </div>
        </form>
        <ul class="accordion-container">
          <li class="ac">
            <h4 class="ac-header">
              <button type="button" class="ac-trigger">Details</button>
            </h4>
            <div class="ac-panel">
              <p class="ac-text" data-category="details">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </li>
          <li class="ac">
            <h4 class="ac-header">
              <button type="button" class="ac-trigger">Shipping</button>
            </h4>
            <div class="ac-panel">
              <p class="ac-text" data-category="shipping">
                We ship across the United States within 2–5 business days. All
                orders are processed through USPS or a reliable courier service.
                Enjoy free standard shipping on orders over $50.
              </p>
            </div>
          </li>
          <li class="ac">
            <h4 class="ac-header">
              <button type="button" class="ac-trigger">Returns</button>
            </h4>
            <div class="ac-panel">
              <p class="ac-text" data-category="returns">
                You can return an item within 14 days of receiving your order,
                provided it hasn’t been used and is in its original condition.
                To start a return, please contact our support team — we’ll guide
                you through the process quickly and hassle-free.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn btn-secondary btn-close-modal" type="button">x</button>
  </div>
</div>
