:root {
  --color-scheme-1-background: var(--color-bamboo-lightest);
  --color-neutral-darkest: #0b0500;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #dad9d8;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b5b4b2;
  --color-neutral: #85827f;
  --color-neutral-dark: #54504c;
  --color-neutral-darker: #231e19;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-bamboo-lighter);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(11, 5, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(11, 5, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(11, 5, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(11, 5, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(11, 5, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(11, 5, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(11, 5, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(11, 5, 0, 0.6);
  --color-bamboo-lightest: #fceee6;
  --color-bamboo-lighter: #f9decd;
  --color-bamboo-light: #ea8d50;
  --color-bamboo: #e15d05;
  --color-bamboo-dark: #b44a04;
  --color-bamboo-darker: #5a2502;
  --color-bamboo-darkest: #431b01;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-bamboo-lighter);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-bamboo-lightest);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-bamboo-light);
  --color-scheme-3-border: var(--opacity-white-20);
  --color-scheme-3-accent: var(--color-white);
  --color-scheme-3-foreground: var(--color-bamboo);
  --color-error-red: #ad0000;
  --font-family: 'Rubik', sans-serif;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-SemiBold.woff2') format('woff2');
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-scheme-1-background);
  font-family: var(--font-family);
  color: var(--color-scheme-1-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}

.btn {
  border: 1px solid var(--color-bamboo);
  background: var(--color-bamboo);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-height: 40px;
  padding: 20px 8px;
  font-size: 16px;
}
.btn:hover,
.btn:focus {
  border-color: var(--color-neutral-darkest);
  background: var(--color-neutral-darkest);
}
.btn:active {
  border-color: var(--color-bamboo-dark);
  background: var(--color-bamboo-dark);
}
.btn:disabled {
  border-color: var(--color-neutral-darkest);
  background: var(--color-neutral-darkest);
  opacity: 0.2;
}
@media only screen and (min-width: 768px) {
  .btn {
    min-height: 48px;
    padding: 24px 12px;
  }
}

.btn-secondary {
  border-color: var(--color-neutral-darkest);
  color: var(--color-neutral-darkest);
  background: transparent;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background: var(--color-bamboo-light);
}
.btn-secondary:active {
  background: var(--color-neutral-lighter);
}
.btn-secondary:disabled {
  opacity: 0.2;
}

.link {
  font-size: 16px;
  color: var(--color-neutral-darkest);
}

.link:disabled {
  opacity: 0.2;
}
