.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 16px 20px;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 84px;
  height: 36px;
}

.nav {
  display: none;
}

.mob-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  background-color: var(--color-bamboo-lightest);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

body.menu-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.mobile-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  margin-top: 14px;
  margin-bottom: 16px;
}

.mob-menu-close-btn {
  background-color: transparent;
  border: none;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.mob-nav-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.mob-nav-link:active {
  opacity: 0.8;
}
.mob-nav-link:disabled {
  opacity: 0.2;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 72px;
    padding: 0 32px;
  }

  .nav {
    display: block;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .nav-list-item {
    display: inline-block;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
    transition: color 0.3s ease;
  }

  .nav-link:active {
    opacity: 0.8;
  }
  .nav-link:disabled {
    opacity: 0.2;
  }

  .mob-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding: 0 64px;
  }
}
