.hero {
  overflow: hidden;
}

.hero-swiper {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.swiper-slide img {
  border-radius: 8px;
  width: 100%;

  object-fit: cover;
}

.hero-slide-cover-layers {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.hero-slide1-cover-title,
.hero-slide2-cover-title,
.hero-slide3-cover-title,
.hero-slide4-cover-title {
  font: 600 20px / 1.4 var(--font-family);
  letter-spacing: -0.01em;
  color: var(--color-scheme-3-accent);
}

.hero-slide1-cover-title,
.hero-slide2-cover-title {
  max-width: 172px;
}

.hero-slide4-cover-title {
  max-width: 228px;
}

.hero-slide-cover-button {
  margin-top: 16px;
  display: block;
  text-align: center;
  border: 0.52px solid var(--color-scheme-3-foreground);
  border-radius: 2px;
  padding: 4px 10px;
  width: 116px;
  height: 20px;
  font: 400 8px / 1.5 var(--font-family);
  color: var(--color-white);
  background: var(--color-scheme-3-foreground);
}

.hero-slider-button-wrapper {
  margin-top: 24px;

  width: 320 px;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid var(--opacity-neutral-darkest-15);
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-3-foreground);
}

.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background-color: #777;
}

.hero-arrow-icon {
  display: block;

  width: 24px;
  height: 24px;
}

.hero-title {
  margin-top: 24px;
  font: 600 40px / 1.2 var(--font-family);
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

@media screen and (min-width: 768px) {
}
